*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: black;
    color: white;
    font-family: "Poppins";
}

main{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
    justify-content: center;
}

div.buttons{
    display: flex;
    column-gap: 3rem;
}

a#start{
    text-decoration: none;
    padding: 1rem;
    font-size: 1.2rem;
    background: green;
    text-shadow: 1px 1px 2px black;
    color: white;
    font-weight: bold;
}

a#stop{
    text-decoration: none;
    padding: 1rem;
    font-size: 1.2rem;
    background: red;
    text-shadow: 1px 1px 2px black;
    color: white;
    font-weight: bold;
}

a#restart{
    color: white;
    text-decoration: none;
    transition: ease color 0.3s;
}

a#restart:hover{
    color: red;
}

p#time{
    font-size: 2rem;
}